<div class="container-fluid">

  <div class="back-col">
<div class="row pt-5 ">
 <h2>Notre agence vous assure le référencement de votre site dans les meilleurs moteurs de recherche</h2>
 <h2>Abonnez vous dans nos offres primium et soyez les plux visités sur le web</h2>

</div>
<div class="row mt-2 ">
  <div class="offset-md-2 col-md-4 mb-5">
    <img src="assets/img/moteurs.jpg" height="250px"/>
  </div>
   <div class="col-md-5 mt-5 mb-5">
     <h1>Soyez visible partout sur le web</h1>
     <p>Notre agence vous assure le référencement de votre site dans les meilleurs moteurs de recherche,
       Donnez a vos clients les informations qu'ils ont besoin et répondez à leurs questions
     </p>
   </div>
</div>

</div>
<div class="row">
<div class="offset-md-2 col-md-8 mt-4">
  <h2>Les offres de référencement web proposées par LWS regroupent tout le nécessaire pour rendre visible votre site sur les moteurs de recherche </h2>
</div>

  </div>
<div class="row pt-5 pb-4">

  <div class="offset-2 col-md-3">
    <table class="table">

      <tbody>
        <tr class="table-info">
          <th scope="row">Quel pack choisir ?
            <p class="pt-4"> Choisissez votre formule de éférencement en fonction de vos besoins </p>
          </th>
        </tr>
        <tr class="table-light">
          <td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Optimisation de votre site</td>
        </tr>
        <tr class="table-info">
          <td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Analyse complète de votre site</td>
        </tr>
        <tr class="table-light">
          <td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Optimisation référencement On-Site</td>
        </tr>
        <tr class="table-info">

          <td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Rédaction de contenu</td>
        </tr>
        <tr  class="table-light">
          <td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Rédaction balises Title, description</td>
        </tr>
        <tr class="table-info">
          <td>
            <i class="coloricon bi bi-caret-right-fill"></i>&nbsp; Optimisation balises H1, H2
        </td>
      </tr>
      <tr class="table-light"><td>
        <i class="coloricon bi bi-caret-right-fill"></i>&nbsp; Installation Site Map & Google Analytics
      </td></tr>
      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Installation des modules SEO sur CMS</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Optimisation référencement Off-Site</td></tr>
      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Soumission à 400 moteurs de recherche</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Rédaction d'articles</td></tr>
      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Génération de backlinks</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Support client gratuit</td></tr>
      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Visibilité sur le moteur Google</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Hausse de trafic Garantie</td></tr>
      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Recherche personnelle de mots-clés</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Consultant personnel de compte</td></tr>

      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Rapport mensuel par e-mail</td></tr>

      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Performances de positionnement</td></tr>

      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Popularité du lien</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Audit de site complet</td></tr>
      <tr class="table-info"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Analyse concurrentielle</td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-caret-right-fill"></i>&nbsp;Instructions d'optimisation</td></tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="table table_center">

      <tbody>
        <tr class="table-primary">
          <th scope="row">Pack référencement 1
            <p  class="pt-2">40.00€</p>
            <button type="button" class="btn btn-warning">Commander</button>

           </th>
        </tr>
        <tr class="table-light">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-primary">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-light">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-primary">

          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr  class="table-light">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-primary">
          <td>
            <i class="coloricon bi bi-check-lg"></i>
        </td>
      </tr>
      <tr class="table-light"><td>
        <i class="coloricon bi bi-check-lg"></i>
      </td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <table class="table table_center">

      <tbody>
        <tr class="table-primary">
          <th scope="row">Pack référencement 2
         <p class="pt-2">80.00€</p>
         <button type="button" class="btn btn-warning">Commander</button>

        </th>
        </tr>
        <tr class="table-light">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-primary">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-light">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-primary">

          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr  class="table-light">
          <td><i class="coloricon bi bi-check-lg"></i></td>
        </tr>
        <tr class="table-primary">
          <td>
            <i class="coloricon bi bi-check-lg"></i>
        </td>
      </tr>
      <tr class="table-light"><td>
        <i class="coloricon bi bi-check-lg"></i>
      </td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-primary"><td><i class="coloricon bi bi-check-lg"></i></td></tr>
      <tr class="table-light"><td><i class="coloricon bi bi-check-lg"></i></td></tr>

      </tbody>
    </table>
  </div>
</div>
</div>
