<div class="container-fluid" id="center-img">
  <div class="row">
  <div class="pt-5 pl-3 offset-md-1 col-md-3">
  <h1 class="c2">
    <span class="text-wrapper">
      Développez votre visibilité et votre trafic sur internet
    </span>
  </h1>
  </div>
  <div class="pt-5 offset-md-4 col-md-4">
    <div class="desc">
      <ul>
        <li class="mb-3">Référencez votre activité partout où vos clients vous cherchent</li>
        <li class="mb-3">Recevez des alertes et répondez rapidement aux avis de vos clients</li>
        <li class="mb-3">Gagnez du temps grâce à une interface de gestion simple et centralisée</li>
      </ul>

  </div>
</div>
</div>
</div>
