
<div class="container-fluid ">
  <div class="row colorrow">
    <div class="col-md-3">
      <ul class="list-unstyled head-contact-social">
        <li ><a ><i class="bi bi-facebook"></i></a>
        </li>
        <li >
          <a href="" target="_blank">
            <i class="bi bi-twitter"></i></a>
          </li>
          <li ><a >
            <i class="bi bi-instagram"></i></a>
          </li>
          <li >
            <a ><i class="bi bi-envelope"></i></a>
          </li>
        </ul>
    </div>
    <div class="col-md-9">

    </div>
  </div>
  <div class="row">
<nav class="verteau navbar navbar-expand-lg navbar-light">
<div class="col-md-4 mr-3">
    <div><img src="assets/img/logo-trc-sm.png" /></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button></div>
    <div class="col-md-8 float-right">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="d-flex navbar-nav ">
        <li class="nav-item">
          <a class="sizea text-light nav-link px-2 active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="sizea text-light nav-link px-2 " href="#">Domaine</a>
        </li>
        <li class="nav-item">
          <a class="sizea text-light px-2 nav-link" href="#">Hébergements</a>
        </li>
  <li class="nav-item ">
        <div class="dropdown">
          <a class="dropdown-toggle sizea text-light px-2 nav-link"   id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Hébergement
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"   routerLink="/hebergementMutualise">Hébergement mutualise</a>
            <a class="dropdown-item"  routerLink="/HebergementCPanel">Hébergement cPanel</a>
            <a class="dropdown-item" routerLink="/HebergementCms">Hébergement Cms </a>
            <a class="dropdown-item"  routerLink="/HebergementVps">Hébergement Vps </a>

          </ul>
        </div>
      </li>

        <li class="nav-item">
          <a class="sizea text-light px-2 nav-link" href="#">Serveurs</a>
        </li>
        <li class="nav-item">
          <a class="sizea text-light px-2 nav-link" href="#">Création de site</a>
        </li>
        <li class="nav-item">
          <a class="sizea text-light px-2 nav-link" href="#">E-commerce</a>
        </li>
        <li class="nav-item">
          <a class="sizea text-light px-2 nav-link" href="#">Référencement</a>
        </li>
        <li class="nav-item">
          <a class="sizea text-light px-2 nav-link" href="#">Sms</a>
        </li>

     <!--   <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>-->

      </ul>

    </div>
  </div>
</nav>
</div>
</div>
<!-- <nav class="navbar">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Domaine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hébergements</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Serveurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Emails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Création de site</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">E-commerce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Référencement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sms</a>
        </li>
      </ul>
    </div>

</nav>
-->
