
<link href="http://fonts.cdnfonts.com/css/nautilus-pompilius" rel="stylesheet">
  <!--menu-->
  <div class="headerHebergement">
    <div class="row">
        <div class="col-md-4">
            <img class="mt-5 mb-20 " id="imgHeaderHebergement" alt="" src="../assets/img/imgHebergement.png">
        </div>
        <div class="col-md-8">
            <br><br><br><br>
            <div class="row">
               
                <h2 class="titreHeaderHeber"> Un hébergement au meilleur prix</h2>
        <div class="col-md-6">
         
            <h2 class="titreHeaderHeber1"> Pack tout inclus!</h2>
            <ul>
                

                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i> Nom de domaine & certificat SSL Offert !
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>  Emails, bases de données, PHP...
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i> Trafic mensuel illimité...
                </li>
           
            </ul>
        </div>
        <div class="col-md-6">
           
          <h2 class="titreHeaderHeber1"> Atouts & Garanties :</h2>
            <ul>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>  Dispo 99.9%
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>  Infra 100% SSD
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i> Sécurité Anti-DDOS
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>  Satisfait ou remboursé
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!--menu-->
<!--price-->

<div class="container">                            
  
<div class="col-xs-12 col-md-12">                            
    <table class="pricing-table">
        <tbody><tr>
            <td width="30%" class="pricing-table-text">
                <h2>Les fonctions de ces hébergements</h2>
                <p>Affichez toutes les fonctions de ces hébergements</p>
              
            </td>
            <td width="20%">
                <div class="pricing-table-item">
                    <div class="pricing-table-item-head">
                        <p>LWS Perso -25%</p>
                        <span>Great for startups</span>
                    </div>
                    <div class="pricing-table-item-price">
                        <p>$100<span>/ yr</span></p>
                        <span>(1,79 € TTC*)</span>
                    </div>
                    <div class="pricing-table-item-purchase">
                        <button class="btn Commander btn-block">Commander</button>
                    </div>
                </div>
            </td>
            <td width="20%">
                <div class="pricing-table-item">
                    <div class="pricing-table-item-head">
                        <p>LWS Starter -15%</p>
                        <span>Perfect for business</span>
                    </div>                                            
                    <div class="pricing-table-item-price">
                        <p>$320<span>/ yr</span></p>
                        <span>(1,79 € TTC*)</span>
                    </div>
                    <div class="pricing-table-item-purchase">
                        <button class="btn Commander btn-block">Commander</button>
                    </div>                                            
                </div>
            </td>
            <td width="20%">
                <div class="pricing-table-item">
                    <div class="pricing-table-item-head">
                        <p>LWS Performance</p>
                        <span>Ideal for projects with high load</span>
                    </div>
                    <div class="pricing-table-item-price">
                        <p>$500<span>/ yr</span></p>
                        <span>(1,79 € TTC*)</span>
                    </div>
                    <div class="pricing-table-item-purchase">
                        <button class="btn Commander btn-block">Commander</button>
                    </div>                                            
                </div>
            </td>
        </tr>

        <tr class="pricing-table-list">
            <td>Performance</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
        <tr class="pricing-table-list">
            <td>Espace disque</td>
            <td>1</td>
            <td>100 Go</td>
            <td>illimité</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Trafic par mois</td>
            <td>illimité</td>
            <td>illimité</td>
            <td>illimité</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Disk Space</td>
            <td>100GB SSD</td>
            <td>300GB SSD</td>
            <td>Unlimited</td>
        </tr>                                    
       
        <tr class="pricing-table-list">
            <td>Email Addresses</td>
            <td>100</td>
            <td>500</td>
            <td>1000</td>
        </tr>                                    
        <tr class="pricing-table-list">
            <td>Domaines OFFERTS</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Logiciels pré-installés</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
        <tr class="pricing-table-list">
            <td>PHP (Mail, OPcache, Zend, Ioncube, Gd, Curl..)</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
        <tr class="pricing-table-list">
            <td>Base de données MySQL</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Serveurs en FRANCE</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
    </tbody></table>
</div>
</div>

<!--price--->
 <!---------------------------------hebergement-->
 <div id="Hebergement">
    <div class="container" id="Hebergement">
      <br> <br>
     <h2 class="titreHeaderHeber">Application préférée sur nos hébergements </h2>
     <br>
     <div class="tab-pane row" id="tab-content-2">

                        <div class="col-md-6">
                             <div class="tab2-services-box">
                                
                                 <div class="media">
                                   
                                     <img src="../assets/img/hebergentimg.png"  alt="" class="imgheb"/>
                                    
                                 </div>

                                 <div class="services-info">
                                     <h4 class="texttheb1">Les logiciels INCLUSl</h4>
                                     <p>Plus de 15 applications de référence à installer en 1 clic, et plus de 100 applications certifiées compatibles.  </p>
                                     <ul>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> CMS : Wordpress, Drupal, Joomla, Spip ...
                                        </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Forum, blog: Phpbb, B2evolution, DotClear ...
                                        </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>  Ecommerce : PrestaShop, WooCommerce, OsCommerce ..
                                        </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Galeries : Piwigo, Gallery, Coppermine...
                                        </li>
                                    </ul>
                                    <img src="../assets/img/logi.png"  alt="" class="logi"/>
                                   </div>

                             </div>
                        </div>

                       <div class="col-md-6">
                             <div class="tab2-services-box">
                             
                                 <div class="media">
                                     <img src="../assets/img/hebergentimg1.png"  alt="" class="imgheb"/>
                                 </div>

                                 <div class="services-info">
                                    <h4 class="texttheb1">Tous les plans incluent</h4>
                                    <p>L'hébergement web LWS présente plusieurs avantages non négligeables qui font notre différence :</p>
                                    <ul>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Assistance et serveurs en FRANCE, réseau sécurisé Anti-DDOS pro
                                       </li>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>  Panneau de contrôle moderne, efficace, multi domaines
                                       </li>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>  Emails pro avec AntiSpam, AntiVirus et Webmail PRO
                                       </li>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Dernières versions de Php, Mysql et Apache STABLES
                                       </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>Logiciel de création de site web simple, "drag and drop" avec 300 modèles !
                                       </li>
                                         <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>Registrar de nom de domaine accrédité : Icann, Afnic ..
                                       </li>
                                   </ul>
                                   </div>

                             </div>
                        </div>

                     

 </div>
           </div></div>
           <br>
           <br>
           <!--coontact-->
           <div class="contact1">
                 <div class="container">
                   <p class="contact1Text">Contactez-nous au 00 00  00 00  ou Tchattez avec un conseiller</p>
                    <p class="contact1Text1">Contact téléphonique du Lundi au Vendredi de 09h00 à 19h00
</p>
                 </div>

           </div>
            <br>
           <br>
           <!--service-->
           <div class="service" id="service1">
            <div class="container" id="services">
                <br><br> <br><br>
                <h2 class="titreHeaderHeber2"> Nos atouts</h2>
                <br>
<h2 class="serviceInclus">Inclus avec chaque hébergement web</h2>
<br>
<div class="row">
    <div class="col-md-6">
        <table class="tablehh">
            <tr>
                <td> <img src="../assets/img/domaine.png"  alt="" class="domaine"/></td>
                <td>
                    <h5 class="soustitre">Nom de domaine OFFERT</h5>
                    <p class="textSouttitre">Votre nom de domaine est votre identité sur la Toile. Votre nom de domaine est OFFERT. Vous avez le choix parmi les extensions les plus populaires : .fr, .com, .info, .net, .org, .eu.</p>
                </td>
            </tr>
            <tr>
              <td> <img src="../assets/img/calendar.png"  alt="" class="domaine"/></td>
              <td>
                  <h5 class="soustitre">Panneau de contrôle simple & efficace</h5>
                  <p class="textSouttitre">Interface de gestion intuitive et complète, cela vous garantit autonomie, simplicité et réactivité. En quelques clics, vous pouvez gérer vos emails, bases de données, nom de domaine, comptes ftp…</p>
              </td>
          </tr>
          <tr>
            <td> <img src="../assets/img/html.png"  alt="" class="domaine"/></td>
            <td>
                <h5 class="soustitre"> Logiciel de création de site inclus</h5>
                <p class="textSouttitre">Créez un site personnalisé en quelques clics seulement. Grâce à de nombreux modèles créés par des graphistes professionnels, vous obtenez un site qui impressionnera vos visiteurs.</p>
            </td>
        </tr>
        </table>
    </div>
    <div class="col-md-6">
      <table class="tablehh">
        <tr>
            <td> <img src="../assets/img/domaine.png"  alt="" class="domaine"/></td>
            <td>
                <h5 class="soustitre">Support d'experts</h5>
                <p class="textSouttitre">Votre nom de domaine est votre identité sur la Toile. Votre nom de domaine est OFFERT. Vous avez le choix parmi les extensions les plus populaires : .fr, .com, .info, .net, .org, .eu.</p>
            </td>
        </tr>
        <tr>
          <td> <img src="../assets/img/cloud-computing.png"  alt="" class="domaine"/></td>
          <td>
              <h5 class="soustitre">Sécurité et sauvegardes</h5>
              <p class="textSouttitre">Interface de gestion intuitive et complète, cela vous garantit autonomie, simplicité et réactivité. En quelques clics, vous pouvez gérer vos emails, bases de données, nom de domaine, comptes ftp…</p>
          </td>
      </tr>
      <tr>
        <td> <img src="../assets/img/settings-gears.png"  alt="" class="domaine"/></td>
        <td>
            <h5 class="soustitre"> Auto-Installeur d'applications</h5>
            <p class="textSouttitre">Interface de gestion intuitive et complète, cela vous garantit autonomie, simplicité et réactivité. En quelques clics, vous pouvez gérer vos emails, bases de données, nom de domaine, comptes ftp…</p>
        </td>
    </tr>
    </table>

    </div>
</div>
</div>
<br><br>
           <!--service-->
</div>


