
<link href="http://fonts.cdnfonts.com/css/nautilus-pompilius" rel="stylesheet">
  <!--menu-->
  <div class="headerHebergement">
    <div class="row">
        <div class="col-md-4">
            <img class="mt-5 mb-20 " id="imgHeaderHebergement" alt="" src="../assets/img/cpanel.png">
        </div>
        <div class="col-md-8">
            <br><br><br><br>
            <div class="row">
               
                <h2 class="titreHeaderHeber"> Hébergement Web cPanel®</h2>
        <div class="col-md-6 cpanel1">
         
            <h2 class="titreHeaderHeber1"> Tout inclus & illimité !</h2>
            <ul>
                

                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i> Nom de domaine & certificat SSL Offert !
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>  Emails, bases de données, PHP...
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i> Trafic mensuel illimité...
                </li>
           
            </ul>
        </div>
        <div class="col-md-6 cpanel2">
           
          <h2 class="titreHeaderHeber1">Inclus : </h2>
            <ul>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>   Certificats SSL
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>   Stockage SSD
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>  Cpanel®, Softaculous®
                </li>
                <li class="liHeaderHeber"><i class="iconcheck bi bi-check-lg" aria-hidden="true"></i>   SiteBuilder Pro
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!--menu-->
<!--price-->

<div class="container">                            
  
<div class="col-xs-12 col-md-12">                            
    <table class="pricing-table">
        <tbody><tr>
            <td width="30%" class="pricing-table-text">
                <h2> Hebergement cPanel® illimité</h2>
                <p> Hebergement cPanel® illimité</p>
              
            </td>
            <td width="20%">
                <div class="pricing-table-item">
                    <div class="pricing-table-item-head">
                        <p>  Hébergement cPanel M</p>
                        <span>Great for startups</span>
                    </div>
                    <div class="pricing-table-item-price">
                        <p>$100<span>/ yr</span></p>
                        <span>(1,79 € TTC*)</span>
                    </div>
                    <div class="pricing-table-item-purchase">
                        <button class="btn Commander btn-block">Commander</button>
                    </div>
                </div>
            </td>
            <td width="20%">
                <div class="pricing-table-item">
                    <div class="pricing-table-item-head">
                        <p>Hébergement cPanel L</p>
                        <span>Perfect for business</span>
                    </div>                                            
                    <div class="pricing-table-item-price">
                        <p>$320<span>/ yr</span></p>
                        <span>(1,79 € TTC*)</span>
                    </div>
                    <div class="pricing-table-item-purchase">
                        <button class="btn Commander btn-block">Commander</button>
                    </div>                                            
                </div>
            </td>
            <td width="20%">
                <div class="pricing-table-item">
                    <div class="pricing-table-item-head">
                        <p>Hébergement cPanel XL</p>
                        <span>Ideal for projects with high load</span>
                    </div>
                    <div class="pricing-table-item-price">
                        <p>$500<span>/ yr</span></p>
                        <span>(1,79 € TTC*)</span>
                    </div>
                    <div class="pricing-table-item-purchase">
                        <button class="btn Commander btn-block">Commander</button>
                    </div>                                            
                </div>
            </td>
        </tr>

        <tr class="pricing-table-list">
            <td>Quel pack choisir ?</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
        <tr class="pricing-table-list">
            <td>Performances (CPU, RAM, I/O...)</td>
            <td>1</td>
            <td>100 Go</td>
            <td>illimité</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Site(s) web hébergé(s)</td>
            <td>illimité</td>
            <td>illimité</td>
            <td>illimité</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Noms(s) de domaine gratuit(s)</td>
            <td>100GB SSD</td>
            <td>300GB SSD</td>
            <td>Unlimited</td>
        </tr>                                    
       
        <tr class="pricing-table-list">
            <td>Espace disque (SSD)</td>
            <td>100</td>
            <td>500</td>
            <td>1000</td>
        </tr>                                    
        <tr class="pricing-table-list">
            <td>Bande passante</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Adresses e-mails</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
        <tr class="pricing-table-list">
            <td>Base(s) de données MySQL</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
        <tr class="pricing-table-list">
            <td>Certificat SSL inclus</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr class="pricing-table-list">
            <td>Activation en 10 min</td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
            <td><span class="iconcheck bi bi-check-lg"></span></td>
        </tr>
    </tbody></table>
</div>
</div>

<!--price--->
 <!---------------------------------hebergement-->
 <div id="Hebergement">
    <div class="container" id="Hebergement">
      <br> <br>
     <h2 class="titreHeaderHeber">Application préférée sur nos hébergements </h2>
     <br>
     <div class="tab-pane row" id="tab-content-2">

                        <div class="col-md-6">
                             <div class="tab2-services-box">
                                
                                 <div class="media">
                                   
                                     <img src="../assets/img/hebergentimg.png"  alt="" class="imgheb"/>
                                    
                                 </div>

                                 <div class="services-info">
                                     <h4 class="texttheb1">cPanel®</h4>
                                     <p>Le panneau de gestion cPanel est inclus à chaque hébergement web cPanel dans sa dernière version.cPanel vous donne un contrôle total (Démo cPanel) :

 </p>
                                     <ul>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Hébergement de sites web pro (Multi-sites et multi utilisateurs illimités)
                                        </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Illimité: adresses e-mail, bases de données
                                        </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>  Ressources GARANTIES (CPU, Mémoire, Iops), technologie CloudLinux®
                                        </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>  Accès SSH, langages de programmation php, perl, CGI, python etc
                                        </li>
                                    </ul>
                                    <img src="../assets/img/logi.png"  alt="" class="logi"/>
                                   </div>

                             </div>
                        </div>

                       <div class="col-md-6">
                             <div class="tab2-services-box">
                             
                                 <div class="media">
                                     <img src="../assets/img/hebergentimg1.png"  alt="" class="imgheb"/>
                                 </div>

                                 <div class="services-info">
                                    <h4 class="texttheb1">Les points forts de nos cPanel</h4>
                                    <p>L'hébergement web cPanel LWS présente plusieurs avantages non négligeables qui font notre différence (détails) :</p>
                                    <ul>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Logiciels de création SiteBuilder Pro inclus
                                       </li>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Assistance 7j7 et serveurs en FRANCE
                                       </li>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Emails pro avec AntiSpam, AntiVirus et Webmail PRO
                                       </li>
                                       <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> Registrar de nom de domaine accrédité : Icann, Afnic ..
                                       </li>
                                        <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i>Performances garanties : Serveurs 100% SSD, Varnish, Redis, Memcached
                                       </li>
                                         <li class="liHeaderHeber"><i class="bi bi-check-lg" aria-hidden="true"></i> 4 sauvegardes par jours, anti malware & virus ImunifyAV
                                       </li>
                                   </ul>
                                   </div>

                             </div>
                        </div>

                     

 </div>
           </div></div>
           <br>
           <br>
           <!--coontact-->
           <div class="contact1">
                 <div class="container">
                   <p class="contact1Text">Contactez-nous au 00 00  00 00  ou Tchattez avec un conseiller</p>
                    <p class="contact1Text1">Contact téléphonique du Lundi au Vendredi de 09h00 à 19h00
</p>
                 </div>

           </div>
            <br>
           <br>
           <!--service-->
           <div class="service" id="service1">
            <div class="container" id="services">
                <br><br> <br><br>
                <h2 class="titreHeaderHeber2">Les services Inclus </h2>
                <br>
<h2 class="serviceInclus">Inclus avec chaque hébergement web</h2>
<br>
<div class="row">
    <div class="col-md-6">
        <table class="tablehh">
            <tr>
                <td> <img src="../assets/img/domaine.png"  alt="" class="domaine"/></td>
                <td>
                    <h5 class="soustitre">Nom de domaine OFFERT</h5>
                    <p class="textSouttitre">Votre nom de domaine est votre identité sur la Toile. Votre nom de domaine est OFFERT. Vous avez le choix parmi les extensions les plus populaires : .fr, .com, .info, .net, .org, .eu.</p>
                </td>
            </tr>
            <tr>
              <td> <img src="../assets/img/calendar.png"  alt="" class="domaine"/></td>
              <td>
                  <h5 class="soustitre">Panneau de contrôle simple & efficace</h5>
                  <p class="textSouttitre">Interface de gestion intuitive et complète, cela vous garantit autonomie, simplicité et réactivité. En quelques clics, vous pouvez gérer vos emails, bases de données, nom de domaine, comptes ftp…</p>
              </td>
          </tr>
          <tr>
            <td> <img src="../assets/img/html.png"  alt="" class="domaine"/></td>
            <td>
                <h5 class="soustitre"> Logiciel de création de site inclus</h5>
                <p class="textSouttitre">Créez un site personnalisé en quelques clics seulement. Grâce à de nombreux modèles créés par des graphistes professionnels, vous obtenez un site qui impressionnera vos visiteurs.</p>
            </td>
        </tr>
        </table>
    </div>
    <div class="col-md-6">
      <table class="tablehh">
        <tr>
            <td> <img src="../assets/img/domaine.png"  alt="" class="domaine"/></td>
            <td>
                <h5 class="soustitre">Support d'experts</h5>
                <p class="textSouttitre">Votre nom de domaine est votre identité sur la Toile. Votre nom de domaine est OFFERT. Vous avez le choix parmi les extensions les plus populaires : .fr, .com, .info, .net, .org, .eu.</p>
            </td>
        </tr>
        <tr>
          <td> <img src="../assets/img/cloud-computing.png"  alt="" class="domaine"/></td>
          <td>
              <h5 class="soustitre">Sécurité et sauvegardes</h5>
              <p class="textSouttitre">Interface de gestion intuitive et complète, cela vous garantit autonomie, simplicité et réactivité. En quelques clics, vous pouvez gérer vos emails, bases de données, nom de domaine, comptes ftp…</p>
          </td>
      </tr>
      <tr>
        <td> <img src="../assets/img/settings-gears.png"  alt="" class="domaine"/></td>
        <td>
            <h5 class="soustitre"> Auto-Installeur d'applications</h5>
            <p class="textSouttitre">Interface de gestion intuitive et complète, cela vous garantit autonomie, simplicité et réactivité. En quelques clics, vous pouvez gérer vos emails, bases de données, nom de domaine, comptes ftp…</p>
        </td>
    </tr>
    </table>

    </div>
</div>
</div>
<br><br>
           <!--service-->
</div>


